gradio==2.9.4
lightning~=2022.9.8
markdown-poster@ git+https://github.com/Lightning-AI/LAI-markdown-poster-Component.git@760ddecb73f65af19a6968cbc81df651dac586fe
mkposters@ git+https://github.com/stanbiryukov/mkposters@522858cfe06d5438094302ff3d5c8b9256a5a4de
satellighte~=0.2.4